<div class="wrapper">
  <div class="content">
    <div class="content__header header">
      <ul class="header__list">
        <li class="header__item"><a [routerLink]="['/category']">Categories</a></li>
        <li class="header__item"><a [routerLink]="['/book']">Books</a></li>
        <li class="header__item"><a [routerLink]="['/author']">Authors</a></li>
        <li class="header__item"><a [routerLink]="['/login']">Login</a></li>
      </ul>
    </div>
    <div class="content__main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
